<main class="container is-fluid">
  <article class="box">
    <h3 class="title">Login</h3>
    <section>
      <label for="username">Username</label>
      <input id="username" type="text" />
    </section>
    <section>
      <label for="password">Password</label>
      <input id="password" type="password" />
    </section>
  </article>
</main>