<main id="login" class="container">
  <article class="box has-text-centered">
    <p class="title">Login</p>
    <label class="subtitle has-text-white" for="username">Username</label>
    <section>
      <input class="subtitle has-text-black" id="username" type="text" />
    </section>
    <label class="subtitle has-text-white" for="password">Password</label>
    <section>
      <input class="subtitle has-text-black" id="password" type="password" />
    </section>
    <section>
      <button
        id="login-button"
        class="button is-primary is-medium"
      >Login</button>
    </section>
    <a href="/signup">
      Sign up instead
    </a>
  </article>
</main>
<script src="/js/login.js"></script>