<main id="signup" class="container">
  <article class="box has-text-centered">
    <p class="title">Sign Up</p>
    <label class="subtitle has-text-white" for="username">Username</label>
    <section>
      <input class="subtitle has-text-black" id="username" type="text" />
    </section>
    <label class="subtitle has-text-white" for="password">Password</label>
    <section>
      <input class="subtitle has-text-black" id="password" type="password" />
    </section>
    <section>
      <button class="button is-link is-medium">Sign Up</button>
    </section>
    <a href="/login">
      Login instead
    </a>
  </article>
</main>