@import "https://jenil.github.io/bulmaswatch/darkly/bulmaswatch.min.css";

:root {
  --primary: rgba(55, 90, 127, 1);
  --info: rgba(50, 152, 220, 1);
  --link: rgba(26, 188, 156, 1);
  --light: rgba(236, 240, 241, 1);
  --dark: rgba(40, 47, 47);
  --success: rgba(46, 204, 113, 1);
  --warning: rgba(241, 183, 14, 1);
  --danger: rgba(231, 76, 60, 1);
}

figure {
  display: flex;
  width: 14rem;
  margin-right: 0.5rem;
}

nav {
  margin-bottom: 1.5rem;
}

#login input,
button {
  margin-bottom: 1rem;
}

#signup input,
button {
  margin-bottom: 1rem;
}

.post:hover {
  background-color: var(--dark);
}

.post:hover .title {
  color: var(--link);
}

.post p {
  margin-bottom: 1rem;
}

.comment {
  margin-top: 1.5rem;
}

.comment .subtitle {
  color: var(--link);
}

#create-button {
  margin-bottom: 1.5rem;
}

.edit-title-input {
  margin-top: 0rem !important;
  resize: none;
  width: 100%;
  max-height: 2.5rem;
}

.edit-content-textarea {
  padding: 0.5rem;
  margin-bottom: 1.5rem;
  resize: none;
  width: 100%;
  height: 7rem;
}

.new-comment-textarea {
  padding: 0.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0.3rem;
  resize: none;
  width: 100%;
  height: 7rem;
}
