@import "https://jenil.github.io/bulmaswatch/darkly/bulmaswatch.min.css";

figure {
  display: flex;
  width: 14rem;
  margin-right: 0.5rem;
}

nav {
  margin-bottom: 1.5rem;
}

#login input,
button {
  margin-bottom: 1rem;
}

#signup input,
button {
  margin-bottom: 1rem;
}
